@model PlannerAPI.Models.Home
@{
    ViewData["Title"] = "Materia";
}
<h1>@ViewData["Title"]</h1>

<p>Entrando em máteria clicando em materia no menu</p>

<h1>Criar Matéria</h1>

<h4>Matéria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Materia" class="control-label"></label>
                <input asp-for="Materia.Titulo" class="form-control" />
                <span asp-validation-for="Materia.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materia.Data_Inicio" class="control-label"></label>
                <input asp-for="Materia.Data_Inicio" class="form-control" />
                <span asp-validation-for="Materia.Data_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aula.titulo" class="control-label"></label>
                <input asp-for="Aula.titulo" class="form-control" />
                <span asp-validation-for="Aula.titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>